doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Welcome to Snk!
      p.
        - Sneaker's api.
      a(rel="stylesheet", href="/api/products/64c69f5d6c3600bdd799911crs") End-point Test